.header {
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;

  @apply md:border-[8px] md:border-black md:px-0 md:pt-0;
}

.header > * {
  /* @apply md:border-black md:px-10; */
}

.header > *:not(:last-child) {
  /* @apply md:border-r-[8px]; */
}

.header > *:last-child {
  /* @apply md:border-l-[8px]; */
}

.logo {
  position: relative;
  isolation: isolate;
}

.logo::before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #ff0;
  transition: all 300ms ease;
}

.logo:hover::before {
  width: 100%;
}
