@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NimbusReg';
  src: url('/fonts/NimbusSanL-Reg.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'NimbusBold';
  src: url('/fonts/NimbusSanL-Bol.woff');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: NimbusBold;
}

:root {
  --header-height: 72px;
  --footer-height: 64px;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --color-black: #090e1a;
}

.prose p {
  margin: 0 0 !important;
}

.prose h3,
.prose h4 {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.prose li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
